.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
.titre>h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #1671D0;
    padding:10px;
    font-family: 'Arvo', serif;
}
.titre>span{
    content: '';
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 3px;
    background-color: #1671D0;
    border-radius: 5px;
}


.marquee_container {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.marquee {
  display: flex;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Add margin between images */
  border: 1px solid #4A739A;
    border-radius: 10px;
}
