@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.body{
    
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #4ABB59;
    text-align: center;
}
.h3{
    text-align: center;
    color: gray;
    margin-top: 15px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.button>button{
    background-color: #4ABB59;
    padding: 10px 50px;
    border: 0;
    border-radius: 10px;
}
.comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comments article{
    width: 50%;
    padding: 5px;
}
.comments article img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comments article div{
    display: flex;
}
.comments article h5{
    margin-left: 10px;
    margin-top: 12px;
}
.comments i{
    color: #ff9f43;
    font-size: large;
}
.i{
    color: #9e121b;
    background-color: #9e121b;
}
.comments form{
    margin-top: 20px;
    margin-bottom: 50px;
}
.comments form h4{
    text-align: center;
    color: #9e121b;
    width: 100%;
}